@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Oooh+Baby&family=Poppins:wght@600&family=Quicksand:wght@300&family=Roboto:wght@100&family=Sedgwick+Ave&display=swap');

$blue: blue;
$fluid:rgb(168, 168, 245);
$hover:rgb(111, 111, 254);
header{
    nav{

        ul{
            li{
                a{
                    a img{
   
                        height: 150px;
                        width: 200px;
                        margin-left: 50px;
                     }
                    .sabor{
                    height: 100px;
                    width: 100px;
                    margin-right: 0px;
                     }
                     a:hover{
                        background-color: $hover;
                        
                    }
                }
            }
        }
        .container-fluid{
            background-color: $fluid;
            height: 5cm;
            
        }
        grid-area: nav;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        height: auto;
        align-items: center;
        justify-items: center;
    }
}

main{
    
    h1{
        color:$blue;
        font-size: 1cm;
        margin-left: 25%;
    }
    h2{
        color: $blue;
        font-size: 0,75cm;
        margin-left: 35%;
    }
    h3{
        color: $blue;
        font-size: 0,5cm;
        margin-left: 40%;
    }
    
}


footer{
    background-color: $blue;
}