@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Oooh+Baby&family=Poppins:wght@600&family=Quicksand:wght@300&family=Roboto:wght@100&family=Sedgwick+Ave&display=swap');
@import url('index'); 
@import url('medias');
@import url('img');
@import url('maps');

*{
    padding: 0;
    margin:0;
}

@mixin size($width, $heigth) {
    height: $heigth;
    width: $width;
}

footer{
    background-color: blue;
}

img{
    @include sizes(200px, 200px);
      margin-top: 15px;
        
}
a img{
    @include sizes(150px, 200px);
    margin-left: 50px;
}
.sabor{
    height: 100px;
    width: 100px;
    margin-right: 0px;
}

/*--------------------------*/
nav{
    grid-area: nav;
    
}

.main-index{
    grid-area: main;
}

.grillaLacteos{
    grid-area: lacteos;
}

.grillaBlando{
    grid-area: blando;
}

.grillaEspecial{
    grid-area: especial;
}

.grillaDuros{
    grid-area: duros;
}

.grillaSemi{
    grid-area: semi;
}


nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: auto;
    align-items: center;
    justify-items: center;
    
    
}

.main-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: auto;
    align-items: center;
    justify-items: center;
      
}

.grillaLacteos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: auto;
    gap: 15px;
    align-items: center;
    justify-items: center;
    

}



.grillaBlando{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
    
}

.extend{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    gap: 15px;
    align-items: center;
    justify-items: center
}
.grillaEspecial{
    @extend .extend;
}
.grillaDuros{
    @extend .extend;
}

.grillaSemi{
    @extend .extend;
}

.barra{
    grid-template-areas:
    nav nav nav;
}
/*------------------------------------*/


a:hover{
    background-color: rgb(111, 111, 254);
    
}
$distorsion:blur(5px);

.grilla-index:hover{
    filter:$distorsion;
 
}

.grilla1:hover{
    filter:$distorsion;
}

.grilla2:hover{
    filter:$distorsion;
}

.grilla3:hover{
    filter:$distorsion;
}

.grilla4:hover{
    filter:$distorsion;
}

.grilla5:hover{
    filter:$distorsion;
}
.grilla6:hover{
    filter:$distorsion;
}
/*------------------------------------*/



