@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Oooh+Baby&family=Poppins:wght@600&family=Quicksand:wght@300&family=Roboto:wght@100&family=Sedgwick+Ave&display=swap");
@import url("index");
@import url("medias");
@import url("img");
* {
  padding: 0;
  margin: 0;
}

footer {
  background-color: blue;
}

img {
  width: 200px;
  height: 200px;
  margin-top: 15px;
}

a img {
  height: 150px;
  width: 200px;
  margin-left: 50px;
}

.sabor {
  height: 100px;
  width: 100px;
  margin-right: 0px;
}

/*--------------------------*/
nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
}

.main-index {
  grid-area: main;
}

.grillaLacteos {
  grid-area: lacteos;
}

.grillaBlando {
  grid-area: blando;
}

.grillaEspecial {
  grid-area: especial;
}

.grillaDuros {
  grid-area: duros;
}

.grillaSemi {
  grid-area: semi;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.main-index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.grillaLacteos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: auto;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.grillaBlando {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.grillaEspecial {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  height: auto;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.grillaDuros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  height: auto;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.grillaSemi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  height: auto;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.barra {
      grid-template-areas: nav nav nav;
}

/*------------------------------------*/
a:hover {
  background-color: #6f6ffe;
}

.grilla-index:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.grilla1:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.grilla2:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.grilla3:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.grilla4:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.grilla5:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.grilla6:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/*------------------------------------*/
/*# sourceMappingURL=estilos.css.map */